@import '../../../node_modules/bootstrap/scss/bootstrap.scss';

.moonlit-asteroid {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #0F2027;
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}

.container-margin {
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
}

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.tab-content{
    padding: 7px;
}

.nav-tabs > li > a:hover{
    background-color: #303136 !important;
    border: medium none;
}

.nav-tabs > li > a{
    background-color: lightgray !important;
    margin-left: 2px;
}

.nav {
    border: none;
}